/*
============
Cards
============
*/

.title {
  text-align: center;
}

.cards {
  padding: 4rem 0;
  background: var(--secondaryColor);
}

.cards_center {
  width: 80vw;
  max-width: 95%;
  margin: 2rem auto;
}

@media screen and (min-width: 768px) {
  .cards_center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
}


//.cards_center {
//  display: grid;
//  grid-column-gap: 2rem;
//  grid-template-columns: repeat(auto-fill, minmax(268px, 1fr));
//}


.container_info li {
  font-weight: bold;
}