/*
============
Cards
============
*/

.title {
  text-align: center;
}

.cards {
  padding: 4rem 0;
  background: var(--mainBlack);
  color: var(--offWhite);
}

.cards_center {
  width: 80vw;
  max-width: 65%;
  margin: 2rem auto;
}

@media screen and (min-width: 768px) {
  .cards_center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
 }
}

@media screen and (min-width: 1170px) {
  .cards_center {
     grid-template-columns: repeat(3, 1fr);
  }
}